################################ 
### values.yaml for HULL     
### The basic pre-configuration takes place here.
###
### Do not change this file, use additional values.hull.yaml 
### to overwrite the selected fields!
################################

###################################################
### CONFIG
config:
  general:  
    rbac: true
    fullnameOverride: ""
    nameOverride: ""
    namespaceOverride: ""
    noObjectNamePrefixes: false
    createImagePullSecretsFromRegistries: true
    globalImageRegistryServer: ""
    globalImageRegistryToFirstRegistrySecretServer: false
    serialization:
      configmap:
        enabled: true
        fileExtensions:
          json: toPrettyJson
          yml: toYaml
          yaml: toYaml
      secret:
        enabled: true
        fileExtensions:
          json: toPrettyJson
          yml: toYaml
          yaml: toYaml
    render:
      passes: 3
      emptyLabels: false
      emptyAnnotations: false
      emptyTemplateLabels: false
      emptyTemplateAnnotations: false
      emptyHullObjects: false
    postRender:
      globalStringReplacements:
        instanceKey:
          enabled: false
          string: _HULL_OBJECT_TYPE_DEFAULT_
          replacement: OBJECT_INSTANCE_KEY
        instanceKeyResolved:
          enabled: false
          string: _HULL_OBJECT_TYPE_DEFAULT_
          replacement: OBJECT_INSTANCE_KEY_RESOLVED
        instanceName:
          enabled: false
          string: _HULL_OBJECT_TYPE_DEFAULT_
          replacement: OBJECT_INSTANCE_NAME
        openingDoubleCurlyBraces:
          enabled: false
          string: "{+{"
          replacement: "{{"
        closingDoubleCurlyBraces:
          enabled: false
          string: "}+}"
          replacement: "}}"
    errorChecks:
      objectYamlValid: true
      hullGetTransformationReferenceValid: true
      containerImageValid: true
      virtualFolderDataPathExists: true
      virtualFolderDataInlineValid: false
    debug:
      renderBrokenHullGetTransformationReferences: false
      renderNilWhenInlineIsNil: false
      renderPathMissingWhenPathIsNonExistent: false
    metadata:
      labels:
        common:
          'app.kubernetes.io/managed-by':
          'app.kubernetes.io/version':
          'app.kubernetes.io/part-of':
          'app.kubernetes.io/name': 
          'app.kubernetes.io/instance':
          'app.kubernetes.io/component':
          'helm.sh/chart':
          'vidispine.hull/version':
        custom: {}
      annotations: 
        hashes: false
        custom: {}
    data: {} 
  specific: {}
  templates: 
    pod: 
      global: {}
    container:
      global: {}
###################################################
        
###################################################
### OBJECTS
objects:

# NAMESPACE
  namespace:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      staticName: true
      annotations: {}
      labels: {}
###################################################

# CONFIGMAPS
  configmap:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# SECRETS
  secret:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# REGISTRIES
  registry:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# SERVICEACCOUNTS
  serviceaccount:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true 
      annotations: {}
      labels: {}
    default:
      enabled: _HT?eq (dig "serviceAccountName" "" _HT*hull.config.templates.pod.global) ""
      annotations: {}
      labels: {}
###################################################

# ROLES
  role:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      rules:
        _HULL_OBJECT_TYPE_DEFAULT_: {}
    default:
      enabled: _HT?eq (dig "serviceAccountName" "" _HT*hull.config.templates.pod.global) ""
      rules: {}
###################################################

# ROLEBINDINGS
  rolebinding:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
    default:
      enabled: _HT?eq (dig "serviceAccountName" "" _HT*hull.config.templates.pod.global) ""
      roleRef:
        apiGroup: "rbac.authorization.k8s.io"
        kind: "Role"
        name: _HT^default
      subjects: 
      - kind: ServiceAccount
        name:  _HT^default
        namespace: _HT**Release.Namespace
###################################################

# CLUSTERROLES
  clusterrole:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      rules:
        _HULL_OBJECT_TYPE_DEFAULT_: {}
###################################################

# CLUSTERROLEBINDINGS
  clusterrolebinding:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}   
###################################################

# CUSTOMRESOURCEDEFINITIONS (deprecated with Helm3)
#  customresourcedefinitions:
#    _HULL_OBJECT_TYPE_DEFAULT_:
#      enabled: true
#      annotations: {}
#      labels: {}
###################################################

# CUSTOMRESOURCES 
  customresource:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# PERSISTENTVOLUMECLAIMS 
  persistentvolumeclaim:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# PERSISTENTVOLUMES 
  persistentvolume:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}   
###################################################

# STORAGECLASSES 
  storageclass:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# SERVICES 
  service:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      ports:
        _HULL_OBJECT_TYPE_DEFAULT_: {}

###################################################

# INGRESSES 
  ingress:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      tls:
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      rules:
        _HULL_OBJECT_TYPE_DEFAULT_:
          http:
            paths:
              _HULL_OBJECT_TYPE_DEFAULT_: {}

###################################################

# INGRESSCLASSES 
  ingressclass:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}

###################################################

# DEPLOYMENTS 
  deployment:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      templateAnnotations: {}
      templateLabels: {}
      pod:        
        initContainers: 
          _HULL_OBJECT_TYPE_DEFAULT_:
            env: 
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            envFrom:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            volumeMounts:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
        containers: 
          _HULL_OBJECT_TYPE_DEFAULT_:
            env: 
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            envFrom:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            volumeMounts:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
        volumes: 
          _HULL_OBJECT_TYPE_DEFAULT_: {}
###################################################

# JOBS 
  job:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      templateAnnotations: {}
      templateLabels: {}
      pod:
        initContainers: 
          _HULL_OBJECT_TYPE_DEFAULT_:
            env: 
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            envFrom:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            volumeMounts:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
        containers: 
          _HULL_OBJECT_TYPE_DEFAULT_:
            env: 
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            envFrom:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            volumeMounts:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
        volumes: 
          _HULL_OBJECT_TYPE_DEFAULT_: {}
###################################################

# CRONJOBS 
  cronjob:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      job:
        templateAnnotations: {}
        templateLabels: {}
        pod:
          initContainers: 
            _HULL_OBJECT_TYPE_DEFAULT_:
              env: 
                _HULL_OBJECT_TYPE_DEFAULT_: {}
              envFrom:
                _HULL_OBJECT_TYPE_DEFAULT_: {}
              volumeMounts:
                _HULL_OBJECT_TYPE_DEFAULT_: {}
          containers: 
            _HULL_OBJECT_TYPE_DEFAULT_:
              env: 
                _HULL_OBJECT_TYPE_DEFAULT_: {}
              envFrom:
                _HULL_OBJECT_TYPE_DEFAULT_: {}
              volumeMounts:
                _HULL_OBJECT_TYPE_DEFAULT_: {}
          volumes: 
            _HULL_OBJECT_TYPE_DEFAULT_: {}
###################################################

# DAEMONSETS 
  daemonset:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      templateAnnotations: {}
      templateLabels: {}
      pod:
        initContainers: 
          _HULL_OBJECT_TYPE_DEFAULT_:
            env: 
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            envFrom:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            volumeMounts:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
        containers: 
          _HULL_OBJECT_TYPE_DEFAULT_:
            env: 
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            envFrom:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            volumeMounts:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
        volumes: 
          _HULL_OBJECT_TYPE_DEFAULT_: {}
###################################################

# STATEFULSETS 
  statefulset:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      templateAnnotations: {}
      templateLabels: {}
      pod:
        initContainers: 
          _HULL_OBJECT_TYPE_DEFAULT_:
            env: 
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            envFrom:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            volumeMounts:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
        containers: 
          _HULL_OBJECT_TYPE_DEFAULT_:
            env: 
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            envFrom:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            volumeMounts:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
        volumes: 
          _HULL_OBJECT_TYPE_DEFAULT_: {}
###################################################

# SERVICEMONITORS 
  servicemonitor:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# HORIZONTALPODAUTOSCALER
  horizontalpodautoscaler:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# PODDISRUPTIONBUDGET
  poddisruptionbudget:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# PRIORITYCLASS
  priorityclass:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# ENDPOINTS
  endpoints:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# ENDPOINTSLICE
  endpointslice:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# LIMITRANGE
  limitrange:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
###################################################

# MUTATINGWEBHOOKCONFIGURATION
  mutatingwebhookconfiguration:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      webhooks:
        _HULL_OBJECT_TYPE_DEFAULT_: {}
###################################################

# VALIDATINGWEBHOOKCONFIGURATION
  validatingwebhookconfiguration:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      webhooks:
        _HULL_OBJECT_TYPE_DEFAULT_: {}
###################################################

# RESOURCEQUOTA
  resourcequota:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
##################################################

# NETWORKPOLICY
  networkpolicy:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
##################################################

# GATEWAY API - BACKENDLBPOLICY
  backendlbpolicy:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      targetRefs:
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      
##################################################

# GATEWAY API - BACKENDTLSPOLICY
  backendtlspolicy:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      targetRefs:
        _HULL_OBJECT_TYPE_DEFAULT_: {}
##################################################

# GATEWAY API - GATEWAYCLASS
  gatewayclass:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
##################################################

# GATEWAY API - GATEWAY
  gateway:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      addresses: 
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      listeners:
        _HULL_OBJECT_TYPE_DEFAULT_: 
          tls:
            certificateRefs:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
            frontendValidation:
              caCertificateRefs:
                _HULL_OBJECT_TYPE_DEFAULT_: {}
          allowedRoutes:
            kinds:
              _HULL_OBJECT_TYPE_DEFAULT_: {}
##################################################

# GATEWAY API - GRPCROUTE
  grpcroute:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      parentRefs: 
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      rules:
        _HULL_OBJECT_TYPE_DEFAULT_: 
          matches:
            _HULL_OBJECT_TYPE_DEFAULT_: {}
          filters:
            _HULL_OBJECT_TYPE_DEFAULT_: {}
          backendRefs:
            _HULL_OBJECT_TYPE_DEFAULT_:
              filters:
                _HULL_OBJECT_TYPE_DEFAULT_: {}
##################################################

# GATEWAY API - REFERENCEGRANT
  referencegrant:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      from: 
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      to:
        _HULL_OBJECT_TYPE_DEFAULT_: {}
##################################################

# GATEWAY API - TCPROUTE
  tcproute:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      parentRefs: 
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      rules:
        _HULL_OBJECT_TYPE_DEFAULT_: 
          backendRefs:
            _HULL_OBJECT_TYPE_DEFAULT_: {}
##################################################

# GATEWAY API - TLSROUTE
  tlsroute:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      parentRefs: 
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      rules:
        _HULL_OBJECT_TYPE_DEFAULT_: 
          backendRefs:
            _HULL_OBJECT_TYPE_DEFAULT_: {}
##################################################

# GATEWAY API - UDPROUTE
  udproute:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      parentRefs: 
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      rules:
        _HULL_OBJECT_TYPE_DEFAULT_: 
          backendRefs:
            _HULL_OBJECT_TYPE_DEFAULT_: {}
##################################################

# GATEWAY API - HTTPROUTE
  httproute:
    _HULL_OBJECT_TYPE_DEFAULT_:
      enabled: true
      annotations: {}
      labels: {}
      parentRefs: 
        _HULL_OBJECT_TYPE_DEFAULT_: {}
      rules:
        _HULL_OBJECT_TYPE_DEFAULT_: 
          matches:
            _HULL_OBJECT_TYPE_DEFAULT_: {}
          filters:
            _HULL_OBJECT_TYPE_DEFAULT_: {}
          backendRefs:
            _HULL_OBJECT_TYPE_DEFAULT_:
              filters:
                _HULL_OBJECT_TYPE_DEFAULT_: {}
##################################################