# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
parameters:
- name: RunTests
  default: true

trigger: none
pr:
  branches:
    include:
    - main
    - release-*

pool:
    vmImage: 'ubuntu-22.04'
jobs:
- job: RunTests
  timeoutInMinutes: 0
  strategy: 
    maxParallel: 5
    matrix:
      Helm_3_17_4_single: 
        HelmVersion: "3.17.4"
        TestType: single
      Helm_3_17_4_multi: 
        HelmVersion: "3.17.4"
        TestType: multi
      Helm_3_18_6_single: 
        HelmVersion: "3.18.6"
        TestType: single
      Helm_3_18_6_multi: 
        HelmVersion: "3.18.6"
        TestType: multi
      Helm_3_19_2_single: 
        HelmVersion: "3.19.2"
        TestType: single
      Helm_3_19_2_multi: 
        HelmVersion: "3.19.2"
        TestType: multi
      Helm_4_0_1_single: 
        HelmVersion: "4.0.1"
        TestType: single
      Helm_4_0_1_multi: 
        HelmVersion: "4.0.1"
        TestType: multi
      
  steps:
  - template: azure-pipelines-test.yml  # Template reference
    parameters:
      RunTests: ${{ parameters.RunTests }}