# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

parameters:
- name: HelmVersions
  type: object
  default: []
- name: RunTests
  type: boolean
  default: true
- name: NoLint
  type: boolean
  default: false

steps:
- script: |
      set -euo pipefail
      echo installing gauge
      sudo curl -SsL https://downloads.gauge.org/stable | sh
      cd hull/files/test/HULL
      sudo pip install -r requirements.txt
      gauge
  displayName: 'install gauge'
  condition: or(and(gt(length('${{join(' ',parameters.HelmVersions) }}'),0),eq('${{ parameters.RunTests }}','True')),and(ne(variables['HelmVersion'],''),eq('${{ parameters.RunTests }}','True')))

- script: |
    set -euo pipefail
    echo installing helm v$(HelmVersion)
    helmmajor=$(echo "$(HelmVersion)" | cut -d. -f1)
    wget https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-${helmmajor}
    sudo chmod +x ./get-helm-${helmmajor}
    sudo ./get-helm-${helmmajor} --version v$(HelmVersion)
    echo running helm version for helm v$(HelmVersion) - major version is ${helmmajor}
    helm version
  displayName: 'install helm v$(HelmVersion)'
  condition: and(ne(variables['HelmVersion'],''),eq('${{ parameters.RunTests }}','True'))
  
- script: |
    set -euo pipefail
    echo starting gauge test against helm version $(HelmVersion) and test type $(TestType)
    ls
    cd hull/files/test/HULL
    ls
    echo no_lint: $(NoLint)
    export no_lint=$(NoLint)
    gauge run --env $(TestType)_file -p -l debug specs
  displayName: 'gauge test against helm v$(HelmVersion)'
  condition: and(ne(variables['HelmVersion'],''),eq('${{ parameters.RunTests }}','True'))
    
- ${{ each version in parameters.HelmVersions }}: # Each Helm Version
     
  - script: |
      set -euo pipefail
      echo installing helm v$(HelmVersion)
      helmmajor=$(echo "$(HelmVersion)" | cut -d. -f1)
      wget https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-${helmmajor}
      sudo chmod +x ./get-helm-${helmmajor}
      sudo ./get-helm-${helmmajor} --version v$(HelmVersion)
      echo running helm version for helm v$(HelmVersion) - major version is ${helmmajor}
      helm version
    displayName: 'install helm v${{ version.version }}'
    condition: and(gt(length('${{join(' ',parameters.HelmVersions) }}'),0),eq('${{ parameters.RunTests }}','True'))
    
  - script: |
      set -euo pipefail
      echo starting gauge test against helm version $(HelmVersion) and test type $(TestType)
      ls
      cd hull/files/test/HULL
      ls
      echo no_lint: $(NoLint)
      export no_lint=$(NoLint)
      gauge run --env $(TestType)_file -p -l debug specs
    displayName: 'gauge test against helm v${{ version.version }}'
    condition: and(gt(length('${{join(' ',parameters.HelmVersions) }}'),0),eq('${{ parameters.RunTests }}','True'))