# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
parameters:
- name: RunTests
  default: true

trigger: none
pr:
  branches:
    include:
    - main
    - release-*

pool:
    vmImage: 'ubuntu-22.04'
jobs:
- job: RunTests
  timeoutInMinutes: 0
  strategy: 
    maxParallel: 5
    matrix:
      Helm_3_13_3_single: 
        HelmVersion: "3.13.3"
        TestType: single
      Helm_3_13_3_multi: 
        HelmVersion: "3.13.3"
        TestType: multi
      Helm_3_14_4_single: 
        HelmVersion: "3.14.4"
        TestType: single
      Helm_3_14_4_multi: 
        HelmVersion: "3.14.4"
        TestType: multi
      Helm_3_15_1_single: 
        HelmVersion: "3.15.1"
        TestType: single
      Helm_3_15_1_multi: 
        HelmVersion: "3.15.1"
        TestType: multi
  steps:
  - template: azure-pipelines-test.yml  # Template reference
    parameters:
      RunTests: ${{ parameters.RunTests }}